/* san francisco font */
@font-face {font-family: sanFranReg;src: url(sanfran_regular.otf);}
@font-face {font-family: sanFranBold;src: url(sanfran_bold.otf);}
@font-face {font-family: sanFranThin;src: url(sanfran_thin.otf);}
@font-face {font-family: sanFranUL;src: url(sanfran_ultralight.otf);}

.modalDialog {
  position: fixed;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background: rgba(0,0,0,0.8);*/
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 600px;
  height: 350px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}

.close {
  background: #FFFFFF;
  font-family: sanFranBold;
  color: #000000;
  font-size: 20px;
  line-height: 50px;
  position: absolute;
  right: -20px;
  text-align: center;
  top: -20px;
  width: 50px;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
  -moz-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0));
  transition: filter 0.1s;
  -webkit-transition: filter 0.1s;
  -moz-transition: filter 0.1s;
}

.close:hover {
  filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.1));
  -webkit-filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.1));
  -moz-filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.1));
}
